mixin label(text, id)
  label(for=id)&attributes(attributes)= text

mixin input(obj)
  input(type=obj.type||"text", id=obj.id||obj.name, name=obj.name, value= obj.value)&attributes(obj.attr||attributes)

mixin select(name, ...items)
  select(name=name, id=name)&attributes(attributes)
    each item in items
      option(value!=item)!= item

mixin textarea(obj)
  - if (typeof(obj.id) === 'undefined') id = obj.name
  textarea(name=obj.name, id=id, rows=obj.rows)&attributes(obj.attr||attributes)

mixin form-group(obj)
    label(for=obj.lbFg.id, class=obj.lbFg.classLabel)!=obj.lbFg.textLabel
    +input(obj.inputFg)
    if(obj.error)
      p.help-block(class=obj.classError)!=obj.error

mixin form-group-textarea(obj)
    label(for=obj.lbFg.id, class= obj.lbFg.classLabel)!=obj.lbFg.textLabel
    +textarea(obj.inputFg)
    if(obj.error)
      p.help-block(class=obj.classError)!=obj.error

mixin custom-checkbox(obj)
  .checkbox&attributes(attributes)
    input(type="checkbox", id=obj.id||obj.name, name=obj.name, value= obj.value).sr-only
    label(for=obj.name, class=obj.classLabel)!=obj.textLabel

mixin custom-radio(obj)
  .radio&attributes(attributes)
    input(type="radio", id=obj.id, name=obj.name, value= obj.value).sr-only
    label(for=obj.id, class=obj.classLabel)!=obj.textLabel
