h3.sub-title-template 1. Default
.myob-component-lightbox
  +link('Lightbox Component')(
    data-toggle='modal',
    data-target='.myob-default-modal'
  ).myob-lightbox-thumb
    span.myob-lightbox-icon
    +img('Lightbox Component', 'images/upload/img-comp.jpg')

h3.sub-title-template 2. Align center
.myob-component-lightbox
  .text-center
    +link('Lightbox Component')(
      data-toggle='modal',
      data-target='.myob-default-modal'
    ).myob-lightbox-thumb
      span.myob-lightbox-icon
      +img('Lightbox Component', 'images/upload/img-comp.jpg')

h3.sub-title-template 3. Align right
.myob-component-lightbox
  .text-right
    +link('Lightbox Component')(
      data-toggle='modal',
      data-target='.myob-default-modal'
    ).myob-lightbox-thumb
      span.myob-lightbox-icon
      +img('Lightbox Component', 'images/upload/img-comp.jpg')

h3.sub-title-template 4. Margin small
.myob-component-lightbox.myob-margin-small
  +link('Lightbox Component')(
    data-toggle='modal',
    data-target='.myob-default-modal'
  ).myob-lightbox-thumb
    span.myob-lightbox-icon
    +img('Lightbox Component', 'images/upload/img-comp.jpg')

h3.sub-title-template 5. Margin medium
.myob-component-lightbox.myob-margin-medium
  +link('Lightbox Component')(
    data-toggle='modal',
    data-target='.myob-default-modal'
  ).myob-lightbox-thumb
    span.myob-lightbox-icon
    +img('Lightbox Component', 'images/upload/img-comp.jpg')

h3.sub-title-template 6. Margin large
.myob-component-lightbox.myob-margin-large
  +link('Lightbox Component')(
    data-toggle='modal',
    data-target='.myob-default-modal'
  ).myob-lightbox-thumb
    span.myob-lightbox-icon
    +img('Lightbox Component', 'images/upload/img-comp.jpg')
