h3.sub-title-template 1. Default
.myob-component-video(style='max-width: 560px; height: 312px;')
  iframe(
    title="YouTube Video",
    src="https://www.youtube.com/embed/vuG_fe0HcnE",
    frameborder="0",
    allowfullscreen
   )

h3.sub-title-template 2. Margin Small
.myob-component-video.myob-margin-small(style='max-width: 560px; height: 312px;')
  iframe(
    title="YouTube Video",
    src="https://www.youtube.com/embed/vuG_fe0HcnE",
    frameborder="0",
    allowfullscreen
   )

h3.sub-title-template 3. Margin Medium with resize video
.myob-component-video.myob-margin-medium(style='max-width: 760px; height: 365px;')
  iframe(
    title="YouTube Video",
    src="https://www.youtube.com/embed/vuG_fe0HcnE",
    frameborder="0",
    allowfullscreen
   )

h3.sub-title-template 4. Margin Large
.myob-component-video.myob-margin-large(style='max-width: 560px; height: 312px;')
  iframe(
    title="YouTube Video",
    src="https://www.youtube.com/embed/vuG_fe0HcnE",
    frameborder="0",
    allowfullscreen
   )
