mixin link(title, href, text)
  - if (typeof(text) === 'undefined') text = title
  - if (typeof(href) === 'undefined') href = '#'
  a(href=href, title=title)&attributes(attributes)
    if block
      block
    else
      !=text
mixin colors(items)
  .row.colors
    each item in items
      .col-xs-6.col-sm-3.col-md-2: .color-item
        .view(style="background-color: #{item.color}")
        .color-name!=item.name
mixin icons(items)
  .row.icons
    each item in items
      -itemFormat = '.' + item.split(' ')[0] + '.' + item.split(' ')[1]
      .col-sm-4.col-md-3: .icon-item
        span.view(class=item)
        .icon-name!=itemFormat
extends layouts/template

block vars
  -title = 'Style Guide'

block container
  style.
    .template {padding-top: 70px;}
    .template .container-fluid {max-width: none;}
    h2.title-template {margin: 20px 0; border-bottom: 1px solid #ccc; font-weight: normal;}
    .template .color-item {padding: 5px; border: 1px solid #ccc; margin-bottom: 15px;}
    .template .color-item .view {height: 30px; margin-bottom: 10px; border: 1px solid #f1f1f1;}
    .template .color-item .color-name {white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
    .template .icon-item {text-align: center; margin-bottom: 15px;}
    .template .icon-item .view {display: inline-block;}
    .template .icon-item .icon-name {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-top: 10px;}
    .template .icon {font-size: 30px;}
    .template .text {font-size: 30px;}
    .template .btn-viewer .view {display: block; margin-top: 10px;}
    .template #custom {padding-bottom: 50px;}
    }
  nav(role="navigation").navbar.navbar-default.navbar-fixed-top
    .navbar-header
      button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="sitemap.html").navbar-brand Sitemap
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href="#colors", title="Colors") Colors
        li
          a(href="#icon", title="Icon") Icon
        li
          a(href="#button", title="Button") Button
  .container-fluid
    h1 Style Guide
    h2.title-template#colors Colors
    h3 Basic
    +colors([
      {color: '#5c247b', name: 'Primary Purple'},
      {color: '#6fb72b', name: 'Secondary Green'},

      {color: '#202528', name: 'Extra Dark Grey'},
      {color: '#3c4246', name: 'Dark Grey'},
      {color: '#6d6e71', name: 'Grey'},
      {color: '#d0d0d0', name: 'Light Grey'},
      {color: '#e5e5e5', name: 'Lighter Grey'},
      {color: '#f9fafa', name: 'Extra Light Grey'},

      {color: '#ffc300', name: 'AccountRight Yellow'},
      {color: '#a4007d', name: 'Essentials Pink'},
      {color: '#65c4de', name: 'AccountEdge Blue'},
      {color: '#7a6e67', name: 'RetailManager Latte'},
      {color: '#6fb72b', name: 'Payroll Green'},
      {color: '#005296', name: 'BankLink Blue'},

      {color: '#ec6915', name: 'PayDirect Orange'},
      {color: '#026fa8', name: 'Kounte Blue'},
      {color: '#009699', name: 'EXO Teal'},
      {color: '#c7d900', name: 'Advanced Fluro'},
      {color: '#589522', name: 'PayGlobal Green'},
      {color: '#fd3600', name: 'AO Orange'},

      {color: '#164b54', name: 'AE Dark Teal'}
    ])
    h2 Heading
    h2 Color
    h2 Icon
    h2 Button
